body {
  padding: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
}

td, th {
  width: 300px;
  text-align: left;
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  margin-right: 5px;
}
